{
  "extends": "standard",
  "globals": {
    "it": true,
    "describe": true
  },
  "rules": {
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
      }
    ]
  }
}
